:root {
  --main-color: #decf47;
  --main-filter: invert(82%) sepia(60%) saturate(528%) hue-rotate(353deg)
    brightness(105%) contrast(102%);
}
body {
  font-family: "Open Sans", sans-serif;
  user-select: none;
}
.container {
  padding: 0 15px;
  margin: auto;
}
/* start setting-box */
.setting-box {
  position: fixed;
  left: -208px;
  top: 0;
  background-color: #fff;
  z-index: 1000;
  width: 200px;
  min-height: 100vh;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  border: 4px solid #eee;
}
.setting-box.open {
  left: 0;
}
.setting-box .toggle-setting {
  background-color: #fff;
  position: absolute;
  right: -34px;
  top: 100px;
  padding: 8px 0;
  width: 30px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
.setting-box .setting-container .option-box {
  padding: 10px;
  margin: 10px;
  background-color: #eee;
  text-align: center;
  user-select: none;
}
.setting-box .setting-container .option-box h4 {
  margin: 0;
  color: #666;
  font-size: 14px;
}
.setting-box .setting-container .option-box .colors-list {
  list-style: none;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin: 10px 0 0;
}
.setting-box .setting-container .option-box .colors-list li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #000;
  cursor: pointer;
  opacity: 0.5;
  user-select: none;
}
.setting-box .setting-container .option-box .colors-list li:hover {
  opacity: 1;
}
.setting-box .setting-container .option-box .colors-list li.active {
  opacity: 1;
  border: 2px solid var(--main-color);
}
.setting-box .setting-container .option-box .colors-list li:first-child {
  background-color: #decf47;
}
.setting-box .setting-container .option-box .colors-list li:nth-child(2) {
  background-color: #f44336;
}
.setting-box .setting-container .option-box .colors-list li:nth-child(3) {
  background-color: #e91e63;
}
.setting-box .setting-container .option-box .colors-list li:nth-child(4) {
  background-color: #9c27b0;
}
.setting-box .setting-container .option-box .colors-list li:nth-child(5) {
  background-color: #673ab7;
}
.setting-box .setting-container .option-box .yes,
.setting-box .setting-container .option-box .no {
  width: 50px;
  background-color: var(--main-color);
  color: #fff;
  margin-top: 10px;
  display: inline-block;
  font-size: 12px;
  padding: 4px 10px;
  font-weight: bold;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  opacity: 0.5;
  cursor: pointer;
}
.setting-box .setting-container .option-box .yes:hover,
.setting-box .setting-container .option-box .no:hover {
  opacity: 1;
}
.setting-box .setting-container .option-box span.active {
  opacity: 1;
}
.setting-box .setting-container .option-box .random-backgrounds .imgs-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}
.setting-box .setting-container .option-box .random-backgrounds .imgs-box img {
  width: 25px;
  margin-top: 10px;
  cursor: pointer;
}
.setting-box .option-box .random-backgrounds .imgs-box img:hover {
  width: 35px !important;
}
.setting-box .reset-options {
  background-color: #f44336;
  border: none;
  width: 178px;
  margin: 10px auto;
  display: block;
  padding: 10px;
  border-radius: 6px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}
/* end setting-box */

/* start nav-pullets */
.nav-pullets {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  width: 40px;
  z-index: 1000;
}
.nav-pullets .pullet {
  width: 20px;
  height: 20px;
  border: 2px solid var(--main-color);
  margin: 10px auto;
  border-radius: 50%;
  cursor: pointer;
}
.nav-pullets .pullet:hover .tooltip {
  display: block;
}
.nav-pullets .pullet .tooltip {
  background-color: var(--main-color);
  width: 120px;
  color: #fff;
  padding: 4px 10px;
  position: absolute;
  right: 50px;
  margin-top: -4px;
  cursor: default;
  pointer-events: none;
  display: none;
}
.nav-pullets .pullet .tooltip::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent transparent transparent var(--main-color);
  border-style: solid;
  border-width: 10px;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
}
/* end nav-pullets */

/* start landing */
.landing {
  min-height: 100vh;
  background-image: url(../imgs/01.jpg);
  background-size: cover;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.landing .overlay {
  background-color: #0006;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.landing .container {
  position: relative;
  /* z-index: 1000; */
}
header {
  z-index: 2;
  position: relative;
  color: #fff;
  display: flex;
  padding: 10px;
}
header .logo {
  width: 300px;
  padding: 15px;
  font-weight: bold;
}
header .links-container {
  width: 100%;
  text-align: right;
}
header .links {
  list-style: none;
  padding-left: 0;
}
header .links li {
  display: inline-block;
  margin-left: 10px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
header .links li a {
  color: #fff;
  text-decoration: none;
}
header .toggle-menu {
  width: 40px;
  cursor: pointer;
  display: none;
  margin-top: 15px;
}
header .toggle-menu.menu-active::before {
  content: "";
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent #fff transparent;
  width: 0;
  height: 0;
  position: absolute;
  top: 46px;
  right: 20px;
}
header .toggle-menu span {
  display: block;
  height: 4px;
  background-color: #fff;
  margin-bottom: 4px;
}
header .links li a:hover,
header .links li a.active {
  color: var(--main-color);
}
.introduction {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 2;
  width: 90%;
}
.introduction h1 {
  font-size: 35px;
  margin: 0 0 12px;
}
@media (max-width: 575px) {
  .introduction h1 {
    font-size: 26px;
  }
}
.introduction h1 span {
  color: var(--main-color);
}
.introduction p {
  line-height: 1.6;
  font-size: 20px;
  margin: 0;
}
@media (max-width: 991px) {
  header .links {
    display: none;
  }
  header .links.open {
    display: block;
    position: absolute;
    background-color: #fff;
    top: 50px;
    width: 100%;
    left: 0;
    border-radius: 4px;
    text-align: left;
  }
  header .links.open li {
    display: block;
    margin: 10px;
  }
  header .links.open li a {
    color: var(--main-color);
    font-weight: bold;
  }
  header .toggle-menu {
    display: inline-block;
  }
}
/* end landing */
/* start About US */
.about-us {
  padding: 50px 0;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .about-us {
    display: block;
    text-align: center;
  }
}
.about-us .info-box {
  flex: 1;
  padding: 30px;
}
@media (max-width: 767px) {
  .about-us .info-box {
    padding: 0;
    margin-bottom: 15px;
  }
}
.about-us .info-box h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
}
.about-us .info-box p {
  color: #767676;
  line-height: 1.8;
  margin: 0;
}
.about-us .image-box {
  flex: 1;
  text-align: center;
}
.about-us .image-box img {
  width: 250px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 1;
  filter: var(--main-filter);
  -webkit-filter: var(--main-filter);
}
@media (max-width: 767px) {
  .about-us .image-box img {
    width: 200px;
  }
}
/* End About US */
/* start skills */
.skills {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eee;
}
.skills h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 50px;
  text-align: center;
}
.skills .skill-box {
  background-color: #fff;
  display: flex;
  padding: 15px;
  margin-bottom: 15px;
  align-items: center;
}
.skills .skill-box .skill-name {
  font-weight: bold;
  width: 140px;
  text-align: center;
}
.skills .skill-box .skill-progress {
  height: 30px;
  width: calc(100% - 110px);
  background-color: #f6f6f6;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  position: relative;
  /* overflow: hidden; */
}
@media (max-width: 767px) {
  .skills .skill-box {
    display: block;
  }
  .skills .skill-box .skill-name {
    width: 100%;
    margin-bottom: 50px;
  }
  .skills .skill-box .skill-progress {
    width: 100%;
  }
}
.skills .skill-box .skill-progress span {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--main-color);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.skills .skill-box .skill-progress span::before {
  content: attr(data-content);
  background-color: var(--main-color);
  padding: 4px 0;
  position: absolute;
  width: 40px;
  text-align: center;
  top: -40px;
  right: -20px;
  border-radius: 4px;
}
.skills .skill-box .skill-progress span::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 8px;
  border-color: var(--main-color) transparent transparent;
  right: -8px;
  top: -15px;
}
/* end skills */
/* start gallry */
.gallary {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.gallary h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 50px;
  text-align: center;
}
.gallary .imges-box {
  text-align: center;
}
.gallary .imges-box img {
  width: 200px;
  height: 150px;
  padding: 3px;
  background-color: #f6f6f6;
  border: 1px solid #ccc;
  margin: 5px;
  cursor: pointer;
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
}
.popup-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 1001;
}
.popup-box h3 {
  font-weight: bold;
  text-align: center;
  margin: 0 0 20px;
  color: var(--main-color);
}
.popup-box img {
  max-width: 100%;
}
.popup-box .fa-times-circle {
  position: absolute;
  top: -24px;
  right: -24px;
  background-color: var(--main-color);
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
}
/* end gallry */
/* start timeline */
.timeline {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eee;
}
.timeline .timeline-content {
  position: relative;
  overflow: hidden;
}
.timeline .timeline-content {
  position: relative;
  overflow: hidden;
}
.timeline .timeline-content::before {
  content: "";
  width: 2px;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  background-color: var(--main-color);
  position: absolute;
}
.timeline .timeline-content .year {
  padding: 2px 5px;
  z-index: 2;
  margin: 20px auto;
  width: 50px;
  background-color: var(--main-color);
  text-align: center;
  position: relative;
  border-radius: 4px;
  font-weight: bold;
  color: #fff;
}
.timeline .timeline-content .left,
.timeline .timeline-content .right {
  width: calc(50% - 25px);
  margin-bottom: 40px;
  position: relative;
}
@media (max-width: 767px) {
  .timeline .timeline-content .left,
  .timeline .timeline-content .right {
    width: 100%;
    margin-top: 40px;
  }
}
.timeline .timeline-content .left {
  float: left;
}
.timeline .timeline-content .right::before,
.timeline .timeline-content .left::before {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 3px solid var(--main-color);
  top: 20px;
  position: absolute;
  background-color: #fff;
}
.timeline .timeline-content .left::before {
  right: -35px;
}
.timeline .timeline-content .right {
  float: right;
}
.timeline .timeline-content .right::before {
  left: -35px;
}
@media (max-width: 767px) {
  .timeline .timeline-content .right::before,
  .timeline .timeline-content .left::before {
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.timeline .timeline-content .content {
  padding: 20px;
  background-color: #fff;
}
.timeline .timeline-content .content h3 {
  font-weight: bold;
  margin: 0 0 10px;
  color: var(--main-color);
}
.timeline .timeline-content .content p {
  color: #666;
  margin: 0;
  line-height: 1.6;
}
.clearfix {
  clear: both;
}
.timeline .timeline-content .right .content::before,
.timeline .timeline-content .left .content::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-style: solid;
  border-width: 10px;
  top: 20px;
}
.timeline .timeline-content .left .content::before {
  border-color: transparent transparent transparent #fff;
  right: -20px;
}
.timeline .timeline-content .right .content::before {
  border-color: transparent #fff transparent transparent;
  left: -20px;
}
@media (max-width: 767px) {
  .timeline .timeline-content .right .content::before,
  .timeline .timeline-content .left .content::before {
    border-color: transparent transparent #fff transparent;
    left: 50%;
    transform: translateX(-50%);
    top: -19px;
  }
}
/* end timeline */
.features {
  padding-top: 80px;
  padding-bottom: 80px;
}
.features h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 60px;
  text-align: center;
}
.features .feat-box {
  width: calc(100% / 3);
  float: left;
  text-align: center;
  margin-bottom: 40px;
}
@media (max-width: 991px) {
  .features .feat-box {
    width: calc(100% / 2);
  }
}
@media (max-width: 575px) {
  .features .feat-box {
    width: 100%;
  }
}
.features .feat-box img {
  width: 96px;
  filter: var(--main-filter);
  -webkit-filter: var(--main-filter);
}
.features .feat-box h4 {
  font-size: 22px;
  margin: 15px 0 40px;
  position: relative;
}
.features .feat-box h4::before {
  content: "";
  width: 40px;
  height: 4px;
  background-color: var(--main-color);
  position: absolute;
  bottom: -22px;
  left: 50%;
  transform: translateX(-50%);
}
.features .feat-box p {
  width: 80%;
  margin: 0 auto;
  line-height: 1.7;
  color: #706f6f;
}
/* end timeline */
/* start testimoniles */
.testimonials {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
}
.testimonials::before {
  content: "";
  position: absolute;
  width: 50%;
  top: 0;
  left: 0;
  background-color: var(--main-color);
  height: 100%;
}
.testimonials::after {
  content: "";
  position: absolute;
  width: 50%;
  top: 0;
  right: 0;
  background-color: #333;
  height: 100%;
}
.testimonials h2 {
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  margin: 0 0 50px;
  text-align: left;
  z-index: 2;
  position: relative;
}
@media (max-width: 767px) {
  .testimonials h2 {
    text-align: center;
  }
}
.testimonials .ts-box {
  z-index: 2;
  position: relative;
  width: calc(98% / 3);
  float: left;
  background-color: #fff;
  padding: 10px;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  .testimonials .ts-box {
    width: 100%;
    margin-bottom: 20px;
  }
}
.testimonials .ts-box:not(:last-of-type) {
  margin-right: 1%;
}
.testimonials .ts-box > p {
  margin: 0 0 20px;
  line-height: 1.5;
  color: #707070;
  font-style: italic;
  font-size: 18px;
}
.testimonials .ts-box .personal-info {
  overflow: hidden;
}
@media (max-width: 991px) {
  .testimonials .ts-box .personal-info {
    overflow: visible;
    text-align: center;
  }
}
.testimonials .ts-box .personal-info img {
  float: left;
  border-radius: 50%;
  margin-right: 15px;
}
@media (max-width: 991px) {
  .testimonials .ts-box .personal-info img {
    float: none;
  }
}
.testimonials .ts-box .personal-info h4 {
  margin: 14px 0 10px;
}
.testimonials .ts-box .personal-info p {
  margin: 0;
  color: #707070;
}
/* end testimoniles */
/*start contact */
.contact {
  background-image: url(../imgs/contact.jpg);
  background-size: cover;
  padding-bottom: 80px;
  padding-top: 80px;
  position: relative;
}
.contact::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
}
.contact .container {
  position: relative;
  z-index: 2;
}
.contact .container h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 60px;
  text-align: center;
}
.contact form {
  overflow: hidden;
  margin: auto;
  max-width: 800px;
}
.contact form .left {
  float: left;
  width: 49%;
}
.contact form .right {
  width: 49%;
  float: right;
}
@media (max-width: 767px) {
  .contact form .left,
  .contact form .right {
    float: none;
    width: 100%;
  }
}
.contact form input:not([type="submit"]),
.contact form textarea {
  width: 100%;
  display: block;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: rgba(218, 218, 218, 0.5);
}
.contact form input:not([type="submit"]):focus,
.contact form textarea:focus {
  outline: 1px solid var(--main-color);
  border: 1px solid var(--main-color);
}
.contact form input:not([type="submit"]):focus::-webkit-input-placeholder,
.contact form textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.contact form input:not([type="submit"]):focus::-ms-input-placeholder,
.contact form textarea:focus::-ms-input-placeholder {
  opacity: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.contact form input:not([type="submit"]):focus::placeholder,
.contact form textarea:focus::placeholder {
  opacity: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.contact form textarea {
  height: 150px;
}
.contact form input[type="submit"] {
  width: 100%;
  padding: 10px;
  border-color: transparent;
  background-color: var(--main-color);
  color: #fff;
  cursor: pointer;
}
/*end contact */
/* start footer */
footer {
  background-color: #333;
  color: #eee;
  padding: 20px;
  text-align: center;
}
/* end footer */
/* start grid system */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
/* end grid system */
